<!DOCTYPE html>
<html lang="zh-cn">//中文字符集

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            <input type="text" v-model="name">
            <span v-show="name"> 你的名字是：{{name}}</span></div>
        <div>
            <input type="text" v-model="age">
            <span v-show="age"> 你的年龄是：{{age}}</span></div>
        <div>
            <input type="text" v-model="sex">
            <span v-show="sex"> 你的性别是：{{sex}}</span></div>
        <!-- <span v-if="sex"> 你的性别是：{{sex}}</span></div> -->
        <!-- v-show和v-if的区别
                    v-if的值为false,元素直接从dom中删除掉了
                    v-show元素永远存在，只不过是显示与否,要么就显示，要么就display:none，但是元素是实实在在在dom里的。
                 -->
    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="./js/main.js"></script>


</body>

</html>